*{box-sizing: border-box;}
html,body{
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
}
.clear{
    clear: both;
}
h2{
    font-size: 25px;
    text-transform:uppercase;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}
.line{
    background-image: url(../img/1.png);
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
}
/* HEADER */
.header__logoImg{
    float: left;
    width: 300px;
    height: 88px;
}
.header__slogan{
    float: right;
    margin-right: 120px;
}
.header__navbar ul{
    list-style: none;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    padding: 15px 0;
 
}
.header__navbar ul li{
    display: inline;
    
}
.header__navbar ul a{
    text-decoration: none;
    color: #636363;
    text-transform: uppercase;
    /* vw,vh */
    padding: 0 0.3em;
    font-size: 1.13vw;
    font-weight: bold;
}
.header__navbar ul li:hover{
    border-bottom: 2px solid #b31c25;
}
.header__navbar ul .active{
    border-bottom: 2px solid #b31c25;
}
/* CAROUSEL */
.carousel{
    background-image: url(../img/banner-VUS_Tesol2023_web_1900x627.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
/* INTRO */
.intro p{
    text-align: center;
    color: #636363;
    line-height: 25px;
    padding: 0 25px;
}
/* PROGRAM */
.program__item{
    float: left;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 90px;
    margin: 31px; 
}
.program__item img{
    width: 383px;
    height: 230px;
}
.program__item h3{
    color: #b31c25;
    font-size: 16px;
    text-transform: uppercase;
}
.program__item p{
    font-size: 14px;
    color: #636363;
}
.program__item button{
    border: 1px solid  #b31c25 ;
    background-color: #b31c25;
    color: white;
    border-radius: 5px;
}
/* FOOTER */
.footer{
    background-color: #b31c25;
    color: white;
    text-align: center;
    padding: 10px 10px;
    word-spacing: 2px;
}
/* NEW */
.news__left, .news__right{
    float: left;
    width: 50%;
    padding: 0 5px;
}
.news__text img{
    width: 100%;
    display: block;
}
.news__text{
    position: relative;
}
.news__text p{
    position: absolute;
    bottom: 8px;
    left: 0px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 15px 10px;
    margin: 0;
}
.news__left .news__text p{
    font-size: 24px;
}
.news__small-item{
    float: left;
    width: 50%;
    padding: 0px 9px 10px;
}
.news__small-item img{
    width: 449px;
    height: 390px;
}

.news__text hr{
    margin: 0;
    height: 5px;
    background-color: #b31c25;
    margin-top: 3px;
}
.news{
    margin-bottom: 20px;
}
.news__left img {
    height: 798px;
}
.news__content{
    margin-top: 20px;
}
